
.username{
    margin-top: 350px;
    margin-left:150px;
    border-radius: 10px;
    border: 5px;
}
.password{
/* display:block ; */
margin-top: 5px;
margin-left:286px;
}

.login-fogotpassword{
margin-top: 10px;
margin-left: 365px;
}
.fogotpassword {
text-decoration: none;
font-size: 12px;
}
.fogotpassword:hover{
text-decoration: underline;
}
h1{

margin-left: 80px;
font-size: 40px;
}
body{
background-color:rgb(255, 187, 0)
}
.username1{

border-radius: 5px;
border: 0px;
}
.password1{
/* display:block ; */
border-radius: 5px;
border: 0px;
}
.guima{
    text-decoration: none;
}
.guima:hover{
    text-decoration: underline;
}